<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/style.css">
<title>Noticias internacionales:BETA</title>
</head>
<body>
<header>
    <div class="encabezado">
        <h1>Carrera Séptima: la multa por invadir el carril del TransMilenio y lo que hay que saber de las sanciones</h1>
    </div>
   <div class="int">
        <div>
            <img class="imgnot2" src="https://imagenes.elpais.com/resizer/v2/I4VKE4MEONEDJIAYTMG2WTWN3M.jpg?auth=660f791eaddfb8da9163c56414393c19e5ee04eaef35974b5ddf798ba7883fc0&width=828&height=466&focal=2682%2C2069" alt="carretera">
        </div>
        <div>
            <p class="text">Las autoridades de movilidad bogotanas han puesto en marcha una serie de acciones para agilizar el tránsito vehicular en zonas de alta congestión. El alcalde Carlos Fernando Galán ha dicho que la capital colombiana tiene en este momento “muchos frentes de obra que afectan la movilidad” que hacen necesaria la implementación de medidas estratégicas para mejorar el flujo vehicular en corredores como el de la Séptima.</p>
        </div>
    </div>
    <div class="infspace">
        <div>
            <p class="text">En un comunicado de prensa, el gobierno distrital detalla que la ocupación indebida de los carriles reduce hasta en un 30% la velocidad del transporte público, especialmente en vías altamente transitadas como la carrera Séptima. “Esto se traduce en mayores tiempos de viaje y un impacto en la regularidad del servicio para miles de usuarios que dependen diariamente del sistema”, ha dicho la secretaria de Movilidad, Claudia Díaz.</p>
        </div>
        <div>
            <p class="text">La funcionaria ha añadido que el bloqueo al carril preferencial y a sus intersecciones genera desorden para los demás carriles, congestión y embotellamiento, que impacta negativamente en la movilidad de todo el corredor. Por ello, Desde el pasado lunes 19 de mayo, las autoridades han implementado acciones de sensibilización para evitar esos bloqueos y, a partir del 26 de mayo, darán inicio a las sanciones por el mal uso del carril.</p>
        </div>
    </div>
    <footer>
    <div>
        <div class="encabezado">
        <h2>©Kevin 2025-2025</h2>
    </div>
    </footer>
</header>
</body>
</html>