<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/style.css">
<title>Noticias internacionales:BETA</title>
</head>
<body>
<header>
    <div class="encabezado">
        <h1>Philips de México aclara detención de directivo y acusa campaña de desprestigio</h1>
    </div>
    <div class="int">
        <div>
            <img class="imgnot2" src="https://www.excelsior.com.mx/800x600/filters:format(webp):quality(75)/media/pictures/2025/05/22/3312031.jpg" alt="bandera de Philips">
        </div>
        <div>
            <p class="text">Tras darse a conocer la detención de uno de sus directivos, Philips de México aclaró a través de un comunicado que estos hechos no tienen nada que ver con la calidad de los productos de la empresa sino con una disputa comercial con la firma Healthcare Systems. La detención de Marc "N" se registró en la capital del país tras una orden de aprehensión girada por un juez de control de Nuevo León.</p>
        </div>
    </div>
    <div class="encabezado">
        <h2>©Kevin 2025-2025</h2>
    </div>
</header>
</body>
</html>