<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/style.css">
<title>Noticias internacionales:BETA</title>
</head>
<body>
<header>
    <div class="encabezado">
        <h1>México e Italia refuerzan alianza contra el tráfico ilegal de patrimonio cultural: De la Fuente</h1>
    </div>
   <div class="int">
        <div>
            <img class="imgnot2" src="https://www.excelsior.com.mx/800x600/filters:format(webp):quality(75)/media/pictures/2025/05/22/3312030.jpg" alt="Vicepresidente del Consejo de Ministros y ministro de Asuntos Exteriores y de la Cooperación Internacional de Italia, Antonio Tajani, el secretario De la Fuente se reunió con su contraparte en el Museo Nacional de Antropología.">
        </div>
        <div>
            <p class="text">Luego de agradecer a Italia por ser un aliado y referente en la defensa del patrimonio y la lucha contra el tráfico ilegal de bienes culturales, el canciller Juan Ramón de la Fuente aseguró hoy que México seguirá impulsando el fortalecimiento del andamiaje jurídico internacional, mediante iniciativas y proyectos, para que los procesos de recuperación del patrimonio nacional fluyan con más eficiencia. En el marco de la visita a nuestro país del vicepresidente del Consejo de Ministros y ministro de Asuntos Exteriores y de la Cooperación Internacional de Italia, Antonio Tajani, el secretario De la Fuente se reunió con su contraparte en el Museo Nacional de Antropología, donde ambos refrendaron la colaboración en la protección del patrimonio cultural y combate al tráfico ilícito de piezas. </p>
        </div>
    </div>
    <div class="infspace">
        <div>
            <p class="text">Consideró que tanto México como Italia van ganando la batalla en la recuperación del patrimonio cultural e histórico porque nos asiste la razón, porque está sustentada en principios éticos y en valores que para nuestro país se han convertido en fundamentales e indeclinables. "Cada pieza recuperada tiene un inmenso valor, eso es lo que hay que transmitir. Desde luego el número se vuelve muy importante cuando lo puede enumerar por miles pero, también transmitir el valor que tiene cada una de las piezas, forman parte de esta nueva cultura y de estas nuevas alianzas que podemos ir construyendo y reconstruyendo", precisó. </p>
        </div>
        <div>
            <p class="text">Dijo que la restitución de piezas construye una ganancia tanto para el país que permite que sea restituida, y para el que la recibe de regreso como si fuera su propio hogar del que nunca debió haber salido. Al encuentro asistieron el director general del INAH, Diego Prieto Hernández;  Hernán Cortés Hernández, comandante de la Guardia Nacional, y la directora del Museo Nacional de las Culturas del Mundo, Alejandra Gómez Colorado.</p>
        </div>
    </div>
    <div>
        <div class="encabezado">
        <h2>©Kevin 2025-2025</h2>
    </div>
</header>
</body>
</html>