<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/style.css">
<title>Noticias internacionales:BETA</title>
</head>
<body>
<header>
    <div class="encabezado">
        <h1>NASA descubre 26 nuevas bacterias en nave espacial</h1>
    </div>
   <div class="int">
        <div>
            <img class="imgnot2" src="https://www.excelsior.com.mx/800x600/filters:format(webp):quality(75)/media/pictures/2025/05/22/3312022.jpg" alt="bacterias">
        </div>
        <div>
            <p class="text">Las bacterias fueron encontradas en el Payload Hazardous Servicing Facility, una sala altamente controlada del Centro Espacial Kennedy. Allí se preparó la sonda Phoenix, destinada a explorar el planeta Marte. Durante los procesos de limpieza y mantenimiento, los investigadores recolectaron 53 cepas bacterianas de superficies y materiales utilizados. El análisis genético reveló que 26 de ellas correspondían a especies previamente desconocidas, clasificadas como extremófilas, es decir, organismos que pueden sobrevivir en condiciones extremas.</p>
        </div>
    </div>
    <div class="infspace">
        <div>
            <p class="text">A pesar de los estrictos procedimientos de descontaminación empleados en estas instalaciones, los científicos identificaron microorganismos que resisten desinfectantes, radiación y escasez de nutrientes. Estos organismos poseen genes relacionados con la reparación del ADN, detoxificación celular y un metabolismo intensificado. Según Alexandre Rosado, investigador de la King Abdullah University of Science and Technology (KAUST) en Arabia Saudita y coautor del estudio, el análisis genético buscó entender cómo estas bacterias logran sobrevivir y adaptarse a ambientes tan hostiles como el vacío del espacio o los entornos estériles de la NASA.</p>
        </div>
        <div>
            <p class="text">El hallazgo tiene implicaciones directas en los protocolos de descontaminación de futuras misiones espaciales. Si estos microorganismos son capaces de sobrevivir en entornos controlados como las salas limpias, podrían resistir también un viaje interplanetario y llegar a otros cuerpos celestes, poniendo en riesgo la integridad científica de exploraciones en Marte, la Luna u otros destinos. El estudio también refuerza la necesidad de evitar la contaminación biológica, tanto para proteger posibles formas de vida extraterrestre como para garantizar que los resultados de análisis en otros planetas no estén comprometidos por organismos terrestres.</p>
        </div>
    </div>
    <div>
        <div class="encabezado">
        <h2>©Kevin 2025-2025</h2>
    </div>
</header>
</body>
</html>