<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/style.css">
<title>Noticias internacionales:BETA</title>
</head>
<body>
<header>
    <div class="encabezado">
        <h1>Viernes con restricción: Desde las 5:00 no circulan estos autos en CDMX y Edomex</h1>
    </div>
   <div class="int">
        <div>
            <img class="imgnot2" src="https://www.excelsior.com.mx/800x600/filters:format(webp):quality(75)/media/pictures/2025/05/22/3311971.jpg" alt="carros y texto de que viernes no circula">
        </div>
    </div>
    <div class="infspace">
        <div>
            <p class="text">El programa Hoy No Circula para el viernes 23 de mayo de 2025 aplica para los autos con engomado azul, terminación de placas 9 y 0 y con holograma de circulación 1 y 2, así como permisos, en las 16 alcaldías de la Ciudad de México (CDMX) y 18 municipios conurbados del Estado de México (Edomex). Los vehículos que están exentos del Hoy No Circula el viernes 23 de mayo de 2025 son los que tienen holograma 00, 0, eléctricos e híbridos, además los de transporte de pasajeros, de acuerdo con Comisión Ambiental de la Megalópolis.</p>
        </div>
        <div>
            <p class="text">Mientras que los autos con engomado azul, terminación de placas 9 y 0, holograma 1 y 2, así como permisos, no podrán circular de las 5:00 de la mañana hasta las 10:00 de la noche de este viernes 23 de mayo. Los autos del Estado de México, Hidalgo, Morelos, Puebla y Tlaxcala podrán circular con los mismos hologramas y restricciones que les aplica a los vehículos de la CDMX, siempre y cuando cuenten con verificación vigente de su estado, gracias a la homologación de criterios de verificación vehicular.</p>
        </div>
    </div>
    <div>
        <div class="encabezado">
        <h2>©Kevin 2025-2025</h2>
    </div>
</header>
</body>
</html>