<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/style.css">
<title>Noticias internacionales:BETA</title>
</head>
<body>
<header>
    <div class="encabezado">
        <h1>Operativo en Tlalpan, CDMX: decomisan madera y rescatan a una ardilla enjaulada</h1>
    </div>
   <div class="int">
        <div>
            <img class="imgnot2" src="https://www.excelsior.com.mx/800x600/filters:format(webp):quality(75)/media/pictures/2025/05/22/3311923.jpg" alt="personas detenidas">
        </div>
        <div>
            <p class="text">Como parte de los operativos permanentes para frenar la tala ilegal en la Ciudad de México (CDMX), policías de la Secretaría de Seguridad Ciudadana (SSC), en coordinación con la SEDEMA y la PROFEPA, aseguraron dos camionetas cargadas con madera presuntamente extraída de manera clandestina en la alcaldía Tlalpan.</p>
        </div>
    </div>
    <div class="infspace">
        <div>
            <p class="text">Durante un patrullaje sobre la carretera federal México-Cuernavaca, a la altura de los kilómetros 23, 25 y 31.5, personal de la SSC detectó una camioneta gris que transportaba 38 tablas y 13 tablones de pino. Al solicitar la documentación correspondiente, el conductor presentó una nota de compra con irregularidades, por lo que se procedió al aseguramiento.</p>
        </div>
        <div>
            <p class="text">Durante las acciones, en una tercera camioneta azul, autoridades detectaron una ardilla encerrada en una jaula metálica. Los tripulantes fueron instruidos para liberarla de inmediato.</p>
        </div>
    </div>
    <div>
        <div class="encabezado">
        <h2>©Kevin 2025-2025</h2>
    </div>
</header>
</body>
</html>